.promo {
    min-height: 650px;
    background: url('../../img/bg_run.jpg') center (center/cover) no-repeat;
    padding: 21px 0 93px 0;
    &__wrapper {
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }
    &__header {
        color: #FFF;
        text-align: right;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        color: #FFF;
        text-align: right;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons{
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        width: 112px;
        text-align: center;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px; 
        img {
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;
        }
        span {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px; 
        }
    }
    &__link {
        margin-top: 10px;
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        a {
            text-decoration-line: underline;
            color: #FFF;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}

